.landing-container {
  font-family: 'Georgia', serif;

  display: grid;
  justify-content: center; 
  align-items: stretch;
  padding: 40px;
}
.login-container {
  font-family: 'Georgia', serif;

  display: grid;
  justify-content: center; 
  align-items: stretch;
}
.main-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
